<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>My Blog {% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet"/>
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'home' %}">My Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'allPages' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'aboutUs' %}">About Us</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'createPost' %}">Create
                            Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'myPosts' %}">My
                            Posts</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <span class="navbar-text">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'logout' %}">Log Out</a>
                </span>
                <span class="navbar-text">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'showProfile' %}">
                        Profile
                    </a>
                </span>
            {% else %}
                <span class="navbar-text">
                   <a class="nav-link active text-white" aria-current="page" href="{% url 'login' %}">Login</a>
                </span>
                <span class="navbar-text">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'register' %}">Register</a>
                </span>
            {% endif %}
            <form class="d-flex" role="search" method="get" action="{% url 'searchPost' %}">
                <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom">
        <!-- Left -->
        <div class="d-none d-lg-block">
            <span>Hello from 🇨🇷</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-6 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Solis Corps
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>