{% extends 'master.html' %} {% load static %}
{% block title %}- About Us{% endblock %}
{% block content %}

    <div class="container py-5">
        <h1 class="mb-3">Acerca De:</h1>
        <p class="lh-base"> Mi nombre es Carlos Solis, vivo en San Jose, Costa Rica, estudie Ingeniería en Software y ya
            tengo unos 4 años de estar trabajando en este sector.</p>
        <p class="lh-base">
            Este trabajo fue todo un reto, ya que las clases empezaban cuando aún no había salido de trabajar y muchas
            veces estaba trabajando mientras tenía al profe en el fondo dando la clase y los fines de semana los usaba
            para repasar la presentación y hacer los ejercicios vistos en clase. Por lo que siempre iba un o dos clases
            atras de lo que estuviéramos viendo ese día.
        </p>
        <p class="lh-base">Yo trabajo mucho con PHP y Laravel y por más cursos de otras tecnologías que había llevado
            nada me gustaba como PHP/Laravel, sin embargo, ahora con Django/Python he encontrado un gusto que solo tenía
            en con ese lenguaje.
        </p>
        <p class="lh-base">
            Debido al tiempo disponible que tenia para trabajarlo trate de presentar lo mas completo que estuviera a mi
            alcance por lo que espero que disfruten el proyecto como yo disfrute su curso.
        </p>
    </div>


{% endblock %}