{% extends 'master.html' %} {% load static %}
{% block title %}- All Pages{% endblock %}
{% block content %}

    <div class="container py-3">

        {% if totalPost >= 1 %}

            {% for post in posts %}
                <div class="row">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ post.image }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.name }}</h5>
                                    <p class="card-text">{{ post.body }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <a href="{% url 'viewPage' post.id %}" class="btn btn-outline-secondary">Click For More</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <p>No hay post</p>
        {% endif %}

    </div>

{% endblock %}