{% extends 'master.html' %} {% load static %}
{% block title %}- Profile{% endblock %}
{% block content %}
    <div class="container d-flex p-5">


        <div class="col-6">
            {% if status %}
                <div class="alert alert-success" role="alert">
                    Your Profile was updated!
                </div>
            {% endif %}

            <form action="{% url 'editProfile' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ myForm.as_table }}
                </table>

                <button type="submit">Submit Form</button>

            </form>
        </div>
        <div class="col-6">
            <a href="{% url 'addProfileIcon' %}" class="btn btn-dark"> Add Profile Pic</a>
        </div>


    </div>
{% endblock %}